<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>gistrss</title>
<link rel="stylesheet" href="/media/css/style.css" type="text/css" />
</head>

<body>

<div id="container">
	<form method="post" action="/redir">
		<div id="box">
		<p>Enter your GitHub username and i'll redirect you to your gists.</p>
	    <input name="bleep_bloop" type="text" class="input-field" />
	    <input type="image" src="/media/images/trans.png" id="submit" />
	  </div><!--END BOX-->
	  <a href="http://appengine.google.com">
	  	<img src="/media/images/powered-google.jpg" alt="Powered by Google App Engine" />
	  </a>
	</form>
</div><!--END CONTAINER-->

</body>
</html>
