<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>gistrss</title>
<link rel="stylesheet" href="/media/css/style.css" type="text/css" />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8047218-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body>

<div id="container">
	<form method="post" action="/redir">
		<div class="box">
		<p>Enter your GitHub username and I'll generate your Gist feed.</p>
	    <input name="bleep_bloop" type="text" class="input-field" />
	    <input type="image" src="/media/images/trans.png" id="submit" />
	  </div><!--END BOX-->
	  <center>
		  Created by <a href="http://thurloat.com/">Adam Thurlow</a>, on
		   <a href="http://appengine.google.com/">AppEngine</a>. My 
		  <a href="http://gistrss.appspot.com/feed/thurloat">Gist feed</a>.
	  </center>
	</form>
	<div class="box bottom">
		<p>Top Generated Feeds (Updated Daily)</p>
		<table>
			<tr>
				<td>1. <a href="/feed/defunkt">defunct</a></td>
				<td>2. <a href="/feed/chsh">chsh</a></td>
			</tr>
			<tr>
				<td>3. <a href="/feed/thurloat">thurloat</a></td>
				<td>4. <a href="/feed/minichate">minichate</a></td>
			</tr>
			<tr>
				<td>5. <a href="/feed/kastner">kastner</a></td>
				<td>6. <a href="/feed/hpiwowar">hpiwowar</a></td>
			</tr>
		</table>
	</div>
	
</div><!--END CONTAINER-->

</body>
</html>
